**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/.git/
**/.github/
**/*.md
**/README*
**/Dockerfile
**/docker-compose*.yml
**/nuts.db
**/nuts.db-*
**/.env
**/.env.*
!**/.env.example
**/wwwroot/uploads/
